body {
  font-family: 'Roboto Condensed', sans-serif;
}

.car-info,
.message,
.car-info-form {
  display: flex;
  flex-direction: column;
  background-color: #eeee;
  border-radius: 10px;
  max-width: 500px;
  padding: 20px;
  margin: 10px auto;
}

.car-info span {
  padding: 5px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

label {
  min-width: 190px;
  margin: 10px 0;
}
